<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pentaword</title>
    <script src="{% static 'pentaword/pentaword.js' %}"></script>
    <link rel="stylesheet" type 'text/css' href="{% static 'pentaword/pentastyle.css' %}">
</head>

<body>
    <!-- Help Wrapper -->
    <div class='help_overlay_wrapper' id='help_wrapper' style="visibility: hidden;">
        <div class='help_overlay_main'>
            <div class='help_title' id='help_title'>Help</div>
            <div class='help_stats_main'>
                <div class='help_info'>
                    <span>Guess the word in six tries.</span>
                    <span>After hitting 'Try' or 'Enter' on keyboard, colors will change.</span>
                    <span>Each colors shows how close the letter is from being right.</span>
                </div>

                <div class="help_examples">
                    <div class='help_row_try' id=row_0>
                        <div class='help_char'>C</div>
                        <div class='help_char'>H</div>
                        <div class='help_char' style="color: #00FF00; border-color:green">U</div>
                        <div class='help_char'>V</div>
                        <div class='help_char'>A</div>
                    </div>
                    <div class="help_description">
                        Letter exists and is in the right position.
                    </div>
                    <div class='help_row_try' id=row_0>
                        <div class='help_char'>F</div>
                        <div class='help_char'>E</div>
                        <div class='help_char' style="color: yellow; border-color:#FFFF00">L</div>
                        <div class='help_char'>I</div>
                        <div class='help_char'>Z</div>
                    </div>
                    <div class="help_description">
                        <span>Letter exists but is in the wrong position.</span>
                    </div>
                    <div class='help_row_try' id=row_0>
                        <div class='help_char'>C</div>
                        <div class='help_char'>O</div>
                        <div class='help_char' style="color: RED; border-color:#FF0000">F</div>
                        <div class='help_char'>R</div>
                        <div class='help_char'>E</div>
                    </div>
                    <div class="help_description">
                        Letter doesn't exists.
                    </div>
                </div>
            </div>
        </div>
        <div class='help_exit_button'>
            <button type="button" class='subbutton' id='btn_exit_help'>Close</button>
        </div>
        <div class='help_credits'>
            <span>Created by
                <a class='infocredits' href="https://github.com/calmingteabag">calmingteabag</a> for <b>LEARNING</b>
                purposes, all credits
                goes to
                original creators.
            </span></br>
            <span> Tecnologies used: <a class='infocredits' href="https://www.djangoproject.com/">Django</a>, <a
                    class='infocredits' href="https://www.heroku.com/">Heroku</a>, Python and Vanilla
                Javascript.

            </span>


        </div>

    </div>
    <!-- Score Wrapper -->
    <div class='score_overlay_wrapper' id='score_wrapper' style="visibility: hidden;">
        <div class='score_overlay_main'>
            <div class='score_title' id='score_title'>
                Statistics
            </div>
            <div class='score_stats_main'>
                <div class='score_word'>
                    <div class='score_word_title'>Today's word is:</div>
                    <div class='score_word_word' id="daily_word">{{ dailyword }}</div>
                </div>
                <div class='score_info'>
                    <div class='score_info_main_stats'>
                        <div class='score_info_tile'>
                            <div class='score_info_value' id=playedgames>5</div>
                            <div class='score_info_description'>Games Played</div>
                        </div>
                        <div class='score_info_tile'>
                            <div class='score_info_value' id="winratio">65%</div>
                            <div class='score_info_description'>Win Ratio</div>
                        </div>
                        <div class='score_info_tile'>
                            <div class='score_info_value' id="currstreak">5</div>
                            <div class='score_info_description'>Current Streak</div>
                        </div>
                        <div class='score_info_tile'>
                            <div class='score_info_value' id="maxstreak">8</div>
                            <div class='score_info_description'>Max Streak</div>
                        </div>
                    </div>
                    <div class='score_info_additional_stats'>
                        <div class='score_info_graphs'>
                            <div class=score_info_graphs_title>Histogram</div>
                            <div class='score_info_graphs_tries'>
                                <div class='score_info_graph_try_number'>1</div>
                                <div class='score_info_graph_column'>
                                    <div class='score_info_graph_fill'></div>
                                </div>
                            </div>
                            <div class='score_info_graphs_tries'>
                                <div class='score_info_graph_try_number'>2</div>
                                <div class='score_info_graph_column'>
                                    <div class='score_info_graph_fill'></div>
                                </div>
                            </div>
                            <div class='score_info_graphs_tries'>
                                <div class='score_info_graph_try_number'>3</div>
                                <div class='score_info_graph_column'>
                                    <div class='score_info_graph_fill'></div>
                                </div>
                            </div>
                            <div class='score_info_graphs_tries'>
                                <div class='score_info_graph_try_number'>4</div>
                                <div class='score_info_graph_column'>
                                    <div class='score_info_graph_fill'></div>
                                </div>
                            </div>
                            <div class='score_info_graphs_tries'>
                                <div class='score_info_graph_try_number'>5</div>
                                <div class='score_info_graph_column'>
                                    <div class='score_info_graph_fill'></div>
                                </div>
                            </div>
                            <div class='score_info_graphs_tries'>
                                <div class='score_info_graph_try_number'>6</div>
                                <div class='score_info_graph_column'>
                                    <div class='score_info_graph_fill'></div>
                                </div>
                            </div>
                        </div>
                        <div class='score_info_graphs_timer'>
                            <div class='score_info_graphs_timer_title'>Next Reset in:</div>
                            <div class='score_info_graphs_timer_timer' id='countdown'>04:22:22</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='score_exit_button'>
                <button type="button" class='subbutton' id='exit_stats'>Close</button>
            </div>
        </div>
    </div>
    <!-- Main Page Content -->
    <div class='main_window'>
        <div class='appwindow'>
            <div class='title'>
                <div class='title_left' id='show_help'>?</div>
                <div class='title_center' id='title_gambiarra'>PENTAWORD</div>
                <div class='title_right' id='show_stat'>i</div>
            </div>

            <div class='letreco'>
                <div class='letter_tries'>
                    <div class='row_try' id=row_0>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                    </div>
                    <div class='row_try' id=row_1>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                    </div>
                    <div class='row_try' id=row_2>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                    </div>
                    <div class='row_try' id=row_3>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                    </div>
                    <div class='row_try' id=row_4>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                    </div>
                    <div class='row_try' id=row_5>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                        <div class='char'></div>
                    </div>
                </div>
                <div class='submit_buttons'>
                    <button type="button" class='subbutton' id='del_elem'>Back</button>
                    <button type="button" class='subbutton' id='sub_elem'>Try</button>
                </div>

                <div class='keywrapper'>
                    <div class='key_row'>
                        <button type="button" class='keybutton' id=key_0>Q</button>
                        <button type="button" class='keybutton' id=key_1>W</button>
                        <button type="button" class='keybutton' id=key_2>E</button>
                        <button type="button" class='keybutton' id=key_3>R</button>
                        <button type="button" class='keybutton' id=key_4>T</button>
                        <button type="button" class='keybutton' id=key_5>Y</button>
                        <button type="button" class='keybutton' id=key_6>U</button>
                        <button type="button" class='keybutton' id=key_7>I</button>
                        <button type="button" class='keybutton' id=key_8>O</button>
                        <button type="button" class='keybutton' id=key_9>P</button>
                    </div>
                    <div class='key_row'>
                        <button type="button" class='keybutton' id=key_10>A</button>
                        <button type="button" class='keybutton' id=key_11>S</button>
                        <button type="button" class='keybutton' id=key_12>D</button>
                        <button type="button" class='keybutton' id=key_13>F</button>
                        <button type="button" class='keybutton' id=key_14>G</button>
                        <button type="button" class='keybutton' id=key_15>H</button>
                        <button type="button" class='keybutton' id=key_16>J</button>
                        <button type="button" class='keybutton' id=key_17>K</button>
                        <button type="button" class='keybutton' id=key_18>L</button>
                    </div>
                    <div class='key_row'>
                        <button type="button" class='keybutton' id=key_19>Z</button>
                        <button type="button" class='keybutton' id=key_20>X</button>
                        <button type="button" class='keybutton' id=key_21>C</button>
                        <button type="button" class='keybutton' id=key_22>V</button>
                        <button type="button" class='keybutton' id=key_23>B</button>
                        <button type="button" class='keybutton' id=key_24>N</button>
                        <button type="button" class='keybutton' id=key_25>M</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>