body {
    height: 100vh;
    background-color: rgb(63, 63, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}


div.main_window {
    width: 45%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 900px) {
    div.main_window {
        width: 99.5%;
        height: 100%;
    }
}
div.help_overlay_wrapper {
    height: 70vh;
    width: 50vw;
    position: fixed;
    z-index: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(151, 56, 159);
    column-gap: 2vw;
    background-color: rgb(39, 39, 39);
}

@media only screen and (max-width: 900px) {
    div.help_overlay_wrapper {
        width: 95vw;
    }
}

div.score_overlay_main { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

div.help_title {
    display: flex;
    height: 10%;
    padding: 0px;
    margin: 0px;
    border:0px;
    color:rgb(255, 42, 184);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing:0.1vw;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.6vw;   
}

@media only screen and (max-width: 900px) {
    div.help_title {
        font-size: 8vw;
        letter-spacing: 0.5vw;
    }
}

div.help_stats_main {
    display: flex;
    flex-direction: column;
    height: 70%;
    color: white;
}

div.help_exit_button {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 1.5vw;
}

@media only screen and (max-width: 900px) {
    div.help_exit_button {
        padding-bottom: 2vw;
    }
}
div.help_info {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 0.9vw;
    gap: 0.2vw;
}
@media only screen and (max-width: 900px) {
    div.help_info {
        display:flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        font-size: 4vw;
        gap: 1.5vw;
        padding-top:2vw;
        padding-bottom: 2vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
div.help_examples {
    display: flex;
    flex-direction: column;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    gap:0.2vw;
}

@media only screen and (max-width: 900px) {
    div.help_examples {
        gap: 1.5vw;
    }
}

div.help_row_try {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}
@media only screen and (max-width: 900px) {
    div.help_row_try {
        gap: 1.5vw;
    }
}

div.help_description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    gap: 0.5vw;
    font-size: 1vw;
}

@media only screen and (max-width: 900px) {
    div.help_description {
        font-size: 4.3vw;
    }
}

div.help_char {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 5%;
    border-width: 2px;
    border-color: rgba(186, 89, 255, 0.257);
    width: 2.6vw;
    height: 2.6vw;
    font-size: 2vw;
    color:rgb(255, 102, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    div.help_char {
        width: 8vw;
        height:8vw;
        font-size: 6vw;
    }
}

div.help_credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9vw;
    padding-left:1vw;
    padding-right:1vw;
}

@media only screen and (max-width: 900px) {
    div.help_credits {
        font-size: 4.3vw;
        padding-left:5vw;
        padding-right:5vw;
    }
}


div.score_overlay_wrapper {
    height: 70vh;
    width: 50vw;
    position: fixed;
    z-index: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(151, 56, 159);
    column-gap: 2vw;
    background-color: rgb(39, 39, 39);
}

@media only screen and (max-width: 900px) {
    div.score_overlay_wrapper {
        width: 95vw;
    }
}

div.score_overlay_main { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

div.score_title {
    display: flex;
    height: 10%;
    padding: 0px;
    margin: 0px;
    border:0px;
    color:rgb(255, 42, 184);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing:0.1vw;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.6vw;   
}

@media only screen and (max-width: 900px) {
    div.score_title {
        font-size: 8vw;
        letter-spacing: 0.5vw;
    }
}

div.score_stats_main {
    display: flex;
    flex-direction: column;
    height: 70%;
    color: white;
}

div.score_exit_button {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding: 1.5vw;
}

@media only screen and (max-width: 900px) {
    div.score_exit_button {
        padding-bottom: 5vw;
    }
}


div.score_word {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5vw;
}

div.score_word_title {
    padding-right: 1.5vw;
}

div.score_word_word {
    color: rgb(255, 42, 184);
    letter-spacing:0.1vw;
}

@media only screen and (max-width: 900px) {
    div.score_info_title {
        padding-right: 1vw;
    }
}


div.score_info {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1vw;
}


div.score_info_main_stats {
    display: flex;
    flex-direction: row;
    width:100%;
    height:25%;
    gap: 2vw;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    div.score_info_main_stats {
        column-gap: 12vw;
    }
}

div.score_info_tile {
    display: flex;
    flex-direction: column;
    width: 10vw;
    justify-content: center;

}

div.score_info_value {
    display: flex;
    font-size: 3.2vw;
    font-weight: 700;
    height: 75%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    div.score_info_value {
        font-size: 8.5vw;
        font-weight:700;
    }
}


div.score_info_description {
    font-size: 1vw;
    height: 25%;
}

@media only screen and (max-width: 900px) {
    div.score_info_description {
        font-size: 3.2vw;
    }
}

div.score_info_additional_stats {
    display:flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
}

@media only screen and (max-width: 900px) {
    div.score_info_additional_stats {
        padding: 4vw;
    }
}

div.score_info_graphs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2vw;
    padding-left: 4vw;
    padding-right: 4vw;
}

@media only screen and (max-width: 900px) {
    div.score_info_graphs {
        gap: 1vw;
    }
}

div.score_info_graphs_title {
    display: flex;
    height:25%;
    font-size: 1.5vw;
    font-weight: 700;
    justify-content:left;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    div.score_info_graphs_title {
        font-size: 4vw;
    }
}

div.score_info_graphs_tries {
    display:flex;
    flex-direction: row;
    gap: 2vw;
    font-size: 1vw;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    div.score_info_graphs_tries {
        font-size: 4vw;
    }
}

div.score_info_graphs_try_number {
    width: 10%;
}

div.score_info_graph_column {
    width: 90%;
    height: 100%;
}

div.score_info_graph_fill {
    width: 100%;
    height: 100%;
    background-color:rgb(255, 42, 184);
}

div.score_info_graphs_timer {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2vw;
}

@media only screen and (max-width: 900px) {
    div.score_info_graphs_timer {
        font-size: 4vw;

    }
}

div.score_info_graphs_timer_title {
    font-size: 2vw;
    font-weight: 700;
}

@media only screen and (max-width: 900px) {
    div.score_info_graphs_timer_title {
        font-size: 4vw;
    }
}

div.score_info_graphs_timer_timer {
    font-size: 3vw;
}

@media only screen and (max-width: 900px) {
    div.score_info_graphs_timer_timer {
        font-size: 7vw;
    }
}

div.appwindow {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    padding: 0px;
}

div.title {
    display: flex;
    border-style: solid;
    border-color: rgb(151, 56, 159);
    border-width: 1px;
    height: 4vw;
    background-color: rgb(15, 15, 15);
    margin: 0px;
    color:rgb(255, 42, 184);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3vw;
    padding-top:0.3vw;
    padding-bottom:0.3vw;
    padding-left:1vw;
    padding-right:1vw;
    letter-spacing:0.1vw;
}

div.title:hover {
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 900px) {
    div.title {
        font-size: 9vw;
        padding-top:2.5vw;
        padding-bottom:2.5vw;
        padding-right:3vw;
        padding-left:3vw;
        height: 10vw;
        letter-spacing:0.2vw;
    }
}

div.title_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60%;
}



div.title_left {
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: left;
    align-items: center;
    font-size: 2.5vw;
    width: 20%;
}

div.title_left:hover {
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 900px) {
    div.title_left {
        font-size:7vw;
    }
}


div.title_right {
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: right;
    align-items: center;
    font-size: 2.5vw;
    width: 20%;
}

div.title_right:hover {
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 900px) {
    div.title_right {
        font-size:7vw;
    }
}

div.letreco {
    border-style: solid;
    border-color: rgb(151, 56, 159);
    border-width: 1px;
    height: 90%;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
}

div.letter_tries {
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    padding-bottom: 1.5vw;
    gap: 0.5vw;
}

@media only screen and (max-width: 900px) {
    div.letter_tries {
        gap: 2vw;
        padding-top:15vw;
        padding-bottom:6vw;
    }
}

div.row_try {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}
@media only screen and (max-width: 900px) {
    div.row_try {
        gap: 1.5vw;
    }
}

.active_row {
    border-style: solid;
    border-color: rgb(84, 0, 0);
}

div.char {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 5%;
    border-width: 2px;
    border-color: rgba(186, 89, 255, 0.257);
    width: 2.6vw;
    height: 2.6vw;
    font-size: 2vw;
    color:rgb(255, 102, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@keyframes glow_lighten {
    from {
        border-color: rgb(6, 77, 0);
        color: rgb(6, 77, 0);
        background:rgb(15, 15, 15)
    }
    to {
        border-color:rgb(2, 255, 23);
        color: rgb(2, 255, 23);
        background:rgb(10, 58, 0)
    }
}

@keyframes char_animation {
    from {
        border-color: rgba(186, 89, 255, 0.257);
        background-color: rgb(15, 15, 15)
    }
    to {
        border-color:rgb(250, 78, 207);
        background-color: rgb(65, 0, 49)
    }
}

span.charspan {
    vertical-align: middle;
    align-items: center;
    text-align:center;
}

@media only screen and (max-width: 900px) {
    div.char {
        width: 12vw;
        height:12vw;
        font-size: 10vw;
    }
}


div.keywrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 0.6vw;
    padding-top:1.5vw;
}
@media only screen and (max-width: 900px) {
    div.keywrapper {
        gap: 4vw;
    }
}
div.submit_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 0.3vw;
}

@media only screen and (max-width: 900px) {
    div.submit_buttons {
        padding: 5vw;
        padding-bottom:10vw;
        gap:8vw;
    }
}

button.subbutton {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(119, 0, 130);
    width: 10vw;
    height: 2.5vw;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(56, 0, 61);
    color:rgb(255, 143, 251);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

@media only screen and (max-width: 900px) {
    button.subbutton {
        width: 30vw;
        height: 10vw;
        font-size: 5.5vw;
    }
}

button.subbutton:hover {
    background-color: crimson;
    cursor: pointer;
    color: white;
}

div.key_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5vw;
}

@media only screen and (max-width: 900px) {
    div.key_row {
        gap: 1vw;
    }
}

button.keybutton {
    border-style: solid;
    border-radius: 15%;
    border-width: 2px;
    border-color: rgb(255, 170, 0);
    width: 2vw;
    height: 1.8vw;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
}

@media only screen and (max-width: 900px) {
    button.keybutton {
        width: 8vw;
        height: 7.5vw;
        font-size: 5vw;
    }
}

button.keybutton:hover {
    background-color: rgb(200, 0, 143);
    color: white;
    cursor: pointer;
}

a.infocredits {
    color:rgb(255, 42, 184);
}

#daily_word {
    content-visibility: hidden ;
}